/*

this ensures our three.js renders are atleast the views width and height

*/

#container1, 
#container2, 
#container3,
#container4,
#container5, 
#container6, 
#container7, 
#container8,
#container9 {
    width: 460px;
    height: 460px;
    position: relative;
    float:left;
}