<head>
   <link rel="stylesheet" href="style.css" />
 <!--  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'> -->
</head>
<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<p id="question">{{question}}</p>
		<ul id="options">
			<li class='rButtons padl3' ng-repeat="option in options">
				<label class='padt3'>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div id="prompts" ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<label><span ng-show="correctAns">That is correct!</span></label>
			<label class='rButtons'><span ng-show="!correctAns">Sorry, that answer is incorrect.</span></label>
		</div>
	</div>

	<div ng-show="quizOver">
		<h3>You got {{score}} correct!</h3>
		<br />
		<button ng-click="reset()">Play again</button>
	</div>

	<div  id="score">
		<label class='padt5'>
			Score: {{score}}
		</label>
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<h3>Welcome to the Quiz</h3>
	<br />
	<button id="startQuiz" ng-click="start()">Start</button>
</div>